
*.pyc
src/network/_13_data_loader.py
src/network/_13_pointNet.py
src/network/_13_pointNet_cuda.py
notebooks/_11_dataloader-backup.ipynb
notebooks/.ipynb_checkpoints/visualization_data_sumo-checkpoint.ipynb
*.png
data/gifs/20210618-18h13m19s_graph_94_frames.gif
data/gifs/20210618-18h51m50s_graph_94_frames.gif
data/gifs/20210618-18h56m19s_graph_94_frames.gif
data/gifs/20210618-20h21m48s_graph_94_frames.gif
data/gifs/20210618-21h49m15s_graph_94_frames.gif
data/gifs/20210618-22h00m36s_graph_94_frames.gif
data/gifs/20210620-16h59m45s_em70_ec35_graph.gif
data/gifs/20210620-16h36m36s_em70_ec35_graph.gif
data/gifs/20210620-16h22m19s_em70_ec35_graph.gif
data/gifs/20210620-16h20m24s_em70_ec35_graph.gif
data/gifs/20210620-16h09m19s_em70_ec35_graph.gif
data/gifs/20210620-10h45m47s_em70_ec35_graph.gif
data/gifs/20210620-10h41m46s_em50_ec25_graph.gif
data/gifs/20210619-17h47m56s_graph.gif
data/gifs/20210618-22h46m21s_graph.gif
data/gifs/20210618-22h42m25s_graph_94_frames.gif
src/data_from_sumo/select_file_2.py
src/data_from_sumo/select_file.py
data/dataframes/20210620-16h59m45sdf_with_edges_104013_ec35_em70.pkl
data/dataframes/20210620-16h58m28sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h51m03sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h50m29sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h48m31sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h46m30sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h40m59sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h39m22sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h38m39sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h38m11sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h36m36sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h23m49sdf_with_edges_3862_ec30_em70.pkl
data/dataframes/20210620-16h22m19sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h20m24sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h19m50sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h16m08sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h13m01sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h09m19sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h07m22sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-16h01m53sdf_with_edges_104013_ec30_em50.pkl
data/dataframes/20210620-14h35m36sdf_with_edges_3862_ec30_em70.pkl
data/dataframes/20210620-14h27m31sdf_with_edges_3862_ec30_em70.pkl
data/dataframes/20210620-14h06m19sdf_with_edges_3862_ec3000_em70000.pkl
data/dataframes/20210620-13h57m36sdf_with_edges_3862_ec3000_em70000.pkl
data/dataframes/20210620-13h53m00sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-10h45m47sdf_with_edges_3862_ec35_em70.pkl
data/dataframes/20210620-10h41m46sdf_with_edges_8344_ec25_em50.pkl
data/dataframes/20210620-10h28m30sdf_with_edges_8344_ec25_em50.pkl
data/dataframes/20210620-10h26m00sdf_with_edges_8344_ec25_em50.pkl
data/dataframes/20210619-17h30m28sdf_with_edges_104013_ec3000_em5000.pkl
*.mov
*.gif
data/gifs/20210619-17h47m56s_ec_3000_em_5000.gif
*.gif
003_notebooks/.ipynb_checkpoints/sandbox-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/read_xml_txt_files-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/OVERVIEW_TABLE_TRAININGS-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/OVERVIEW_TABLE-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_15_analyse_results_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_14_analyse_results_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_13_analyse_results_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_12_train_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_12_load_data_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_12_analyse_results_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_11_load_data_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_10_load_data_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_09_load_data_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_08_load_data_GCN_003-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_07_load_data_GCN-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_06_load_data_MLP-checkpoint.ipynb
003_notebooks/.ipynb_checkpoints/_06_load_data_GCN-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_004_analyse_results_GCN_014-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_003_analyse_results_GCN_017-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_003_analyse_results_GCN_014-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_002_analyse_best_results_GCN_017-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_002_analyse_best_results_GCN_014-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_001_analyse_results_GCN_017-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_001_analyse_results_GCN_014-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_000_OVERVIEW_TABLE_TRAININGS_GCN_017-checkpoint.ipynb
003_notebooks/GCN_017_results/.ipynb_checkpoints/_000_OVERVIEW_TABLE_TRAININGS_GCN_014-checkpoint.ipynb
